# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Martha Nieto\Documents\UnADM\Semestre 5\B2\DPO3\DPO3 ACD\DPO3_ACD_MANR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
